.fill{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

input{
  margin: 5px 0;
  height: 30px;
}

select{
  margin: 5px 0;
  height: 30px;
}

h1{
  text-align: center;
}

.text-danger{
  color: red;
}
