<app-bai33-api></app-bai33-api>
<app-bai32-bitcoin></app-bai32-bitcoin>
<app-bai31-fakeproduct></app-bai31-fakeproduct>
<app-bai30-product-api></app-bai30-product-api>
<app-bai29-dong-abank></app-bai29-dong-abank>
<app-bai23-math></app-bai23-math>
<app-bai22-register-form></app-bai22-register-form>
<app-bai15-product-http></app-bai15-product-http>
<app-bai16-product-http-error></app-bai16-product-http-error>
<app-bai17-customer></app-bai17-customer>
<app-bai18-list-customer></app-bai18-list-customer>
<app-bai21-form></app-bai21-form>

